.imageContainer{
    height: 100vh;
    padding: 6rem 5rem;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.images{
    height: 500px;
    width: 50%;
    position: absolute;
    margin-left: 1rem;
}

.images img{
   height: 100%;
   width: 100%;
}

.description{
    height: 82vh;
    width: 55%;
    border: none;
    margin-left: auto;
    background-color: rgb(241, 241, 241);
    padding-left: 16%;
    padding-top: 10%;
    border-radius: 5px;
    padding-right: 0.9rem;

}

.description h2{
    font-size: 38px;
    letter-spacing: 0.10mm;
    padding-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 0.4rem;
}

.description p{
    font-size: 18px;
    letter-spacing: 0.09mm;
    line-height: 6mm;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(34, 34, 34);
    padding-bottom: 2rem;
    text-align: justify;
    padding-right: 0.4rem;
}

.touchBtn{
    padding: 18px 55px;
    margin-top: 1rem;
    background-color: #1f59ce;
    font-size: 17px;
    border: 1px solid blue;
    border-radius: 7px;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 0.2s linear;
}

button:hover{
    color: black;
    background-color: #fff;
}